<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_one_0</key>
	<string>_one_0.glif</string>
	<key>_one_1</key>
	<string>_one_1.glif</string>
	<key>_one_2</key>
	<string>_one_2.glif</string>
	<key>_one_3</key>
	<string>_one_3.glif</string>
	<key>_one_4</key>
	<string>_one_4.glif</string>
	<key>_one_5</key>
	<string>_one_5.glif</string>
	<key>_one_6</key>
	<string>_one_6.glif</string>
	<key>_one_7</key>
	<string>_one_7.glif</string>
	<key>_one_8</key>
	<string>_one_8.glif</string>
	<key>_one_9</key>
	<string>_one_9.glif</string>
	<key>_one_A</key>
	<string>_one_A_.glif</string>
	<key>_one_B</key>
	<string>_one_B_.glif</string>
	<key>_one_C</key>
	<string>_one_C_.glif</string>
	<key>_one_D</key>
	<string>_one_D_.glif</string>
	<key>_one_E</key>
	<string>_one_E_.glif</string>
	<key>_one_F</key>
	<string>_one_F_.glif</string>
	<key>_spare</key>
	<string>_spare.glif</string>
	<key>_three_0</key>
	<string>_three_0.glif</string>
	<key>_two_0</key>
	<string>_two_0.glif</string>
	<key>_uplus</key>
	<string>_uplus.glif</string>
	<key>space</key>
	<string>space.glif</string>
</dict>
</plist>
